<!-- xxx create by huqr /// controller:  'layerManagerCtrl' -  localtion: App/Main/assets/js/controllers/xxxCtrl.js -->
<div class="container-fluid container-fullw container-full-stretch" ng-controller="xxxCtrl">
    <div class="row">
        <!-- 左侧 -->
		<div class="col-sm-3 col-md-3 col-lg-4 container_padding container_cross_padding">
            <div class="panel panel-white panel-bottom0">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">标题</h4>
					<!--工具栏代码
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <a tooltip-append-to-body class="btn btn-transparent btn-sm" ng-click="close()">
								<i ng-if="!treeFlag" tooltip="折叠" class="indented tree-icon icon-minus ti-minus" style="color:#007AFF"></i>
								<i ng-if="treeFlag" tooltip="展开" class="indented tree-icon  ti-plus" style="color:#007AFF"></i>
							</a>
                        </li>
                    </ul>
					-->
                </div>
                <div class="panel-body panel-fixed">
                    <!-- 内容 -->


                </div>
            </div>
        </div>

        <!-- 中间 -->
		<div class="col-sm-6 col-md-6 col-lg-4 container_padding container_cross_padding">
            <div class="panel panel-white panel-bottom0">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">标题</h4>
					<!--工具栏代码
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <a tooltip-append-to-body class="btn btn-transparent btn-sm" ng-click="close()">
								<i ng-if="!treeFlag" tooltip="折叠" class="indented tree-icon icon-minus ti-minus" style="color:#007AFF"></i>
								<i ng-if="treeFlag" tooltip="展开" class="indented tree-icon  ti-plus" style="color:#007AFF"></i>
							</a>
                        </li>
                    </ul>
					-->
                </div>
                <div class="panel-body panel-fixed">
                    <!-- 内容 -->


                </div>
            </div>
        </div>
		
		<!-- 右侧 -->
		<div class="col-sm-3 col-md-3 col-lg-4 container_padding container_cross_padding">
            <div class="panel panel-white panel-bottom0">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">标题</h4>
					<!--工具栏代码
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <a tooltip-append-to-body class="btn btn-transparent btn-sm" ng-click="close()">
								<i ng-if="!treeFlag" tooltip="折叠" class="indented tree-icon icon-minus ti-minus" style="color:#007AFF"></i>
								<i ng-if="treeFlag" tooltip="展开" class="indented tree-icon  ti-plus" style="color:#007AFF"></i>
							</a>
                        </li>
                    </ul>
					-->
                </div>
                <div class="panel-body panel-fixed">
                    <!-- 内容 -->


                </div>
            </div>
        </div>
    </div>
</div>