<!-- /// controller:  'xxx' -  localtion: App/Main/assets/js/controllers/xxx.js /// -->
<div class="container-fluid container-fullw container-full-stretch" ng-controller="xxx">
    <div class="row">

        <!-- 左 -->
        <div class="col-sm-3 col-md-3 col-lg-2 container-col-stretch">
            <div class="panel panel-white panel-bottom0">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">标题</h4>
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <a tooltip="折叠" tooltip-append-to-body class="btn btn-transparent btn-sm" ng-click="close()">
                                <i class="ti-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-fixed self_bottom">
                    <!-- 内容 -->


                </div>
            </div>
        </div>

        <!-- 中 -->
        <div class="col-sm-6 col-md-6 col-lg-8 container_padding">
            <div class="panel panel-white panel-bottom0">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">标题</h4>
                </div>
                <div class="panel-body panel-fixed">
                    <!-- 内容 -->


                </div>
            </div>
        </div>

        <!-- 右 -->
        <div class="col-sm-3 col-md-3 col-lg-2 container-col-stretch">
            <div class="panel panel-white panel-bottom0 stretch-fixed">
                <div class="panel-heading border-bottom">
                    <h4 class="panel-title">标题</h4>
                    <ul class="panel-heading-tabs border-light">
                        <li class="panel-tools">
                            <a tooltip="折叠" tooltip-append-to-body class="btn btn-transparent btn-sm" ng-click="close()">
                                <i class="ti-minus"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body panel-fixed self_bottom">
                    <!-- 内容 -->



                </div>
            </div>
        </div>
    </div>
</div>
