<!-- test 页面用例 -->
    <div class="container-fluid" ng-controller="testPage1Ctrl">
        <div class="row" style="text-align:center;padding-top:10px;" id="pdfTest">
            <!--<img src="./assets/images/shine.png" alt="Alternate Text" />-->
            <div class="panel panel-transparent">
                <div>
                    <button class="btn btn-primary" ng-click="demo4();">PDF</button>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="demo5();">Excel测试</button>
                </div>
                <div class="panel-heading">
                    <div class="panel-title">
                        消息对话框
                    </div>
                </div>
                <div class="panel-body">
                    <p class="margin-bottom-30">
                        常规提示框，比如业务校验提示信息等。
                    </p>
                    <button class="btn btn-primary" ng-click="demo1();">
                        Open Message
                    </button>
                </div>
            </div>
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">
                        警示对话框
                    </div>
                </div>
                <div class="panel-body">
                    <p class="margin-bottom-30">
                        错误、禁止操作等，告诫用户的提示框。
                    </p>
                    <button class="btn btn-primary" ng-click="demo2();">
                        Open Message
                    </button>
                </div>
            </div>
            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <div class="panel-title">
                        确认对话框
                    </div>
                </div>
                <div class="panel-body">
                    <p class="margin-bottom-30">
                        常规提示框，需要用户确认的操作框。
                    </p>
                    <button class="btn btn-primary" ng-click="demo3();">
                        Open Message
                    </button>
                </div>
                <div class="panel-body">
                    <img src="/App/Main/assets/images/shine.png" />
                </div>
            </div>
        </div>
    </div>

