<!-- test 页面用例 -->
<div id="home_page" class="padding-top-15 padding-bottom-15" style="padding-left:-15px;"ng-controller="testPage2Ctrl" >
    <div class="container-fluid">      
        <div class="row" style="margin:30px 0 0 0;">
            <ul style="list-style:none;">
                <li class="col-lg-3" style="background:#4a3131;height:300px;"></li>
                <li class="col-lg-3" style="background:#000000;height:300px;"></li>
                <li class="col-lg-3" style="background:#774dbe;height:300px;"></li>
                <li class="col-lg-3" style="background:#eaeb2b;height:300px;"></li>
            </ul>
        </div>
        <div class="row">
            <ul style="list-style:none;">
                <li class="col-lg-3" style="background:#774dbe;height:300px;"></li>
                <li class="col-lg-3" style="background:#b5a03c;height:300px;"></li>
                <li class="col-lg-3" style="background:#4a3131;height:300px;"></li>
                <li class="col-lg-3" style="background:#ff0000;height:300px;"></li>
            </ul>
        </div>
    </div>
</div>
