<!-- start: TOP NAVBAR -->
<!-- start: NAVBAR HEADER -->
<div class="navbar-header hidden-md hidden-lg">
    <a href="#" class="sidebar-mobile-toggler pull-left" ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
        <i class="ti-align-justify"></i>
    </a>
    <a ng-if="isMobileDevice" ui-sref="app.dashboard">
        <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" />
    </a>
    <a class="pull-right menu-toggler visible-xs-block" style="margin-right: 15px !important; " id="menu-toggler" ng-click="navbarCollapsed = !navbarCollapsed">
        <span class="sr-only">切换导航</span>
        <i class="ti-view-grid"></i>
    </a>
</div>
<!-- end: NAVBAR HEADER -->
<!-- start: NAVBAR COLLAPSE -->
<div class="navbar-collapse collapse" collapse="navbarCollapsed" ng-init="navbarCollapsed = true" off-click="navbarCollapsed = true" off-click-if='!navbarCollapsed' off-click-filter="#menu-toggler">
    <ul class="nav navbar-left" style="margin-top: 5px;" ng-if="!isMobileDevice">
        <li>
            <a class="navbar-brand" ui-sref="app.SysManage.SystemModule">
                <img ng-src="{{app.layout.logo}}" alt="{{app.name}}" />
            </a>
        </li>
    </ul>
    <ul class="nav navbar-right" style="margin-top: 5px;">
        <li>
            <a class="navbar-brand" ng-click="logout()" style="padding:0;line-height:62px;font-size:14px;height: 65px;margin-top: -5px;padding: 0 20px;">
                退出登录
            </a>
        </li>
    </ul>
    <!-- start: MENU TOGGLER FOR MOBILE DEVICES -->
    <div class="close-handle visible-xs-block menu-toggler" ng-click="navbarCollapsed = true">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
    </div>
    <!-- end: MENU TOGGLER FOR MOBILE DEVICES -->
</div>
<!-- <a class="dropdown-off-sidebar" ng-click="toggle('off-sidebar')">
    &nbsp;
</a> -->
<!-- end: NAVBAR COLLAPSE -->
<!-- start: TOP NAVBAR -->
